.leftbar-container {
    position: relative;

    .leftbar-wrapper {
        position: absolute;
        left: 0px;
        top: 80px;
        background: rgba(253, 253, 253, .7);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        height: 100px;
        width: 210px;

        .top-users {
            margin-left: 15px;

            .username {
                color: rgb(23,34,70);
                display: flex;
                flex-direction: column;

                span {
                    display: flex;
                    align-self: flex-end;
                    font-size: .7rem;
                    margin-right: 8px;
                }
            }
        }
    }
}